body {
    display: flex;
    justify-content: center;
}
.field-invalid {
    width: 22.7em;
    height: 2.3em;
    border-radius:0%;
    border: 2px solid rgb(150, 57, 57);
    margin-bottom:12px;
    box-sizing: border-box;
    font-size: 16px;
    text-indent: 5px;
}

.error {
    display: none;
    width: 22.7em;
    border-radius:0%;
    background-color: rgb(150, 57, 57);
    border-color: rgb(150, 57, 57);
    border-style: solid;
    color: white;
    box-sizing: border-box;
    margin-bottom:12px;
    font-size: 16px;
    text-indent: 5px;
    margin-top:0;
}

.success {
    display: block;
    width: 22.7em;
    border-radius:0%;
    background-color: rgb(45, 148, 58);
    border-color: rgb(45, 148, 58);
    border-style: solid;
    color: white;
    box-sizing: border-box;
    margin-bottom:12px;
    font-size: 16px;
    text-indent: 5px;
    margin-top:0;
}

.display-none {
    display: none!important;
}

.field {
    width: 22.7em;
    height: 2.3em;
    border-radius:0%;
    border-color:rgba(187,201,186,255);
    border-style: solid;
    margin-bottom:12px;
    box-sizing: border-box;
    font-size: 16px;
    text-indent: 5px;
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
